<header class="mb-auto">
    <div>
<nav class="navbar navbar-expand-lg navbar-dark gradient-custom">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">WorkForYou</a>

    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
      data-mdb-target="#navbarDropdown" aria-controls="navbarDropdown" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars text-light"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarDropdown">
      <ul class="navbar-nav ms-auto d-flex flex-row mt-3 mt-lg-0">
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link active" aria-current="page" routerLinkActive="active" routerLink="entrevistas">
            <div>
              <i class="fas fa-home fa-lg mb-1"></i>
            </div>
            Entrevistas
          </a>
        </li>
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" routerLinkActive="active" routerLink="candidatos">
            <div>
              <i class="far fa-envelope fa-lg mb-1"></i>
            </div>
            Candidatos
          </a>
        </li>
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" routerLinkActive="active" routerLink="puestos">
            <div>
              <i class="far fa-envelope fa-lg mb-1"></i>
            </div>
            Puestos
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->
    </div>
  </header>

