.btn {
    padding: .45rem 1.5rem .35rem;
  }
  
  .gradient-custom {
    backdrop-filter: blur(18px);
    border-radius: 18px;
    border: 1px solid rgba(138, 138, 138, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(238, 28, 28), rgba(250, 113, 205, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(179, 0, 119), rgb(92, 0, 61))
  } 